development:
  url_options:
    protocol: https
    host: activity-log.test
  settings:
    user_name: mail-only-user
    password: s3cr3t!
    domain: activity-log.test
    address: smtp.sendgrid.net
    port: 587
    authentication: plain
    enable_starttls_auto: true
