<h1>Dashboard</h1>

<h2>Current User Information</h2>
<p>
  <strong>Full Name</strong>: <%= current_user.first_name %> <%= current_user.last_name %><br/>
  <strong>Email</strong>: <%= current_user.email %><br/>
  <strong>Administrator?</strong>: <%= current_user.administrator? %><br/>
</p>