/*
 * This is a manifest file that'll be imported into all other stylesheets.
 *
 * Add project-wide styles to this file and they'll appear at the top of the
 * compiled files so the styles you add here will be the base styles that all others
 * will build off of.
 *
 * The @import method allows us to take advantage of variables and mixins.
 *
 */

@import "declarations";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "environment_flag";

body {
  min-width: 320px;
  font-weight: $font-weight-normal;
}

.small,
.radio label,
.checkbox label,
.radio-inline,
.checkbox-inline,
.btn-link,
.dropdown-menu > li > a,
.input-group-addon,
.tooltip,
.popover,
.label {
  font-weight: $font-weight-normal;
}

b,
strong,
dt,
optgroup,
label,
th {
  font-weight: $font-weight-bold;
}

a:focus {
  outline-width: 3px;
  outline-offset: 0;
}

.navbar {
  a:focus {
    outline-offset: -2px;
  }
}

input,
.form-control {
  font-size: 16px;
}

.required-mark {
  color: $state-danger-text;
  margin-left: -2px;
}