@import "base";

.form-control[disabled],
.form-control.disabled,
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: $input-bg-disabled;
  border-color: $input-bg-disabled;
  box-shadow: none;
}

.processing-email-output {
  display: inline-block;
  cursor: pointer;
  width: 330px;
  line-height: $input-height-base - 2;
  padding-top: 0;
  padding-bottom: 0;
}

.index-table {
  font-size: $font-size-base-16px;
}

.attributes-table {
  th {
    text-align: right;
    border-right: 1px solid $table-border-color;
    width: 200px;
  }
}

header {
  .navbar {
    font-weight: $font-weight-bold;
    border-bottom: 2px solid $brand-secondary;
    background-color: $off-white;
    z-index: 200;
  }

  .navbar-brand {
    margin-right: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: $grid-gutter-width/2 12px;
    background-size: 140px auto;
    height: 60px;
    width: 170px;
    background-image: image-url('mailers/logo.png');
  }

  //.navbar-default {
  //  .navbar-nav {
  //    &.hoverable {
  //      > li {
  //        > a {
  //
  //          border-top: 2px solid $navbar-default-bg;
  //          border-bottom: 2px solid $navbar-default-bg;
  //          transition: all .15s ease-in-out;
  //
  //          &:hover, &:focus {
  //            border-bottom-color: $brand-primary;
  //          }
  //        }
  //      }
  //
  //      > .active {
  //        > a, a:hover, a:focus {
  //          border-bottom-color: $brand-primary;
  //        }
  //      }
  //    }
  //  }
  //}
}

body.tracks.show {
  #main {
    position: absolute;
    width: 100%;
    top: 79px;
    bottom: 0;
  }
}

.point-info-window {
  padding: 0 0 5px 20px;

  .date,
  .time {
    text-align: center;
  }

  .date {
    font-size: 14px;
  }

  .time {
    margin-bottom: 15px;
  }

  .attributes-table {
    font-size: 12px;
    border-bottom: 1px solid $table-border-color;

    td, th {
      padding: 4px 8px;
    }

    th {
      width: 94px;
    }
  }
}

#track-show-container {
  position: absolute;
  width: 100%;
  top: -15px;
  bottom: 0;

  .track-details {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -320px;
    overflow: scroll;
    width: 320px;
    padding: 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    transition: all 0.15s ease-in-out;
    border-right: 1px solid $gray-lighter;

    .attributes-table {
      font-size: 12px;

      td, th {
        padding: 4px 8px;
      }

      th {
        width: 98px;
      }
    }

    h2 {
      font-size: $font-size-base-16px;
    }

    .heading {
      h1 {
        font-size: $font-size-base-20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .points {
      ol {
        position: absolute;
        background-color: rgba(255,255,255,0.5);
        top: 238px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        margin: 0;
        border: 1px solid $gray-lightest;
        overflow: scroll;

        .point {
          .date {
            color: $gray-lighter;
          }
        }
      }
    }
  }

  .track-map {
    #g-map {
      background-color: #e5e3df;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.15s ease-in-out;
    }
  }

  .toggle-track-details {
    position: absolute;
    height: 60px;
    width: 28px;
    top: 5px;
    left: -1px;
    z-index: 100;
    background: white;
    font-size: 32px;
    display: block;
    text-align: center;
    line-height: 1;
    border: 1px solid $gray-lighter;
    border-radius: 0 4px 4px 0;
    padding: 10px 8px 20px 5px;
    border-left: 0;
    transition: all 0.15s ease-in-out;

    &:before {
      content: '»';
      position: absolute;
      display: block;
      width: 26px;
      left: 0;
      top: 10px;

    }

    &:hover, &:focus {
      text-decoration: none;
      background-color: $off-white;
    }
  }

  &.sidebar-in {
    .track-details {
      left: 0px;
    }

    .track-map {
      #g-map {
        left: 320px;
      }
    }

    .toggle-track-details {
      left: 319px;

      &:before {
        content: '«';
      }
    }
  }
}


@media screen and (max-width: 768px) {
  #track-show-container {
    .track-details {
      left: -280px;
      width: 280px;
      padding: 0 10px 10px;
      bottom: 30px;
    }

    .track-map {
      #g-map {
        left: 0;
      }
    }

    &.sidebar-in {
      .track-details {
        bottom: 30px;
      }

      .track-map {
        #g-map {
          left: 0;
        }
      }

      .toggle-track-details {
        left: 279px;
      }
    }
  }
}